<div class="row-details">
  <h2 *ngIf="!retentionDetails.active" translate>ENABLE</h2>
  <h2 *ngIf="retentionDetails.active" translate>DISABLE</h2>
  <div class="form-group row">
    <label class="col-sm-6 col-form-label" translate>Are you sure?</label>
    <div class="col-sm-6">
      <button (click)="onRetentionUpdate(false)" *ngIf="retentionDetails.active" class="btn btn-success" translate>
        DISABLE
      </button>
      <button (click)="onRetentionUpdate(true)" *ngIf="!retentionDetails.active" class="btn btn-success" translate>
        ENABLE
      </button>
      <button (click)="back()" class="btn btn-default" translate>CANCEL</button>
    </div>
  </div>
</div>
