<div class="card panel-default">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-12 text-center">
        <span class="lead" translate>CREATE_STORAGE_RULE</span>
      </div>
    </div>
  </div>
  <div class="container2 form">
    <form novalidate class="form-horizontal css-form" [formGroup]="ruleNewForm">
      <div class="form-group row align-items-center mr-0 ml-0">
        <label class="font-weight-bold col-2 mb-0 text-right" translate>RULE_NAME</label>
        <input
          type="text"
          class="form-control col-10"
          id="ruleName"
          name="ruleName"
          placeholder="{{ 'RULE_NAME' | translate }}"
          formControlName="ruleName"
        />
      </div>
      <div class="form-group row align-items-center mr-0 ml-0">
        <label class="font-weight-bold col-2 mb-0 text-right" translate>AVAILABLE_LOCATIONS</label>
        <app-location-picker
          class="col-10 p-0"
          [options]="ruleSelect2Options"
          (changeLocations)="onLocationChange($event)"
          [group]="ruleNewForm"
        ></app-location-picker>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th translate>NAME</th>
            <th translate>TYPE</th>
            <th translate class="text-center">REMOVE</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="locations.length === 0">
            <tr>
              <td colspan="3" class="text-center">There are no elements to display.</td>
            </tr>
          </ng-container>
          <ng-container *ngFor="let location of locations; let i = index">
            <tr>
              <td>{{ location.name }}</td>
              <td>{{ location.type }}</td>
              <td class="text-center">
                <a [routerLink]="" (click)="deleteLocation(i)"><i class="fas fa-times"></i></a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <ngb-tabset>
        <ngb-tab title="Devices Targets">
          <ng-template ngbTabContent>
            <h3 class="text-center mt-3" translate>DEVICES_TARGETS</h3>
            <div class="row">
              <label class="col-sm-2 control-label" translate>AVAILABLE_DEVICES</label>
              <div class="col-sm-10">
                <app-device-picker (onChangeDevices)="onAddDevice($event)" [group]="ruleNewForm"></app-device-picker>
              </div>
              <table class="table table-hover target-table">
                <thead>
                  <tr>
                    <th translate>DEVICES</th>
                    <th translate>USER</th>
                    <th translate class="text-center">ALLOCATED</th>
                    <th translate class="text-center">REMOVE</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="devices.length === 0">
                    <tr>
                      <td colspan="4" class="text-center">There are no elements to display.</td>
                    </tr>
                  </ng-container>
                  <ng-container *ngFor="let device of devices; let i = index">
                    <tr>
                      <td>{{ device.name }}</td>
                      <td>{{ device.userFullName }}</td>
                      <td class="text-center">
                        <i class="fas fa-check" *ngIf="device.isAllocated"></i>
                        <i class="fas fa-times" *ngIf="!device.isAllocated"></i>
                      </td>
                      <td class="text-center">
                        <a [routerLink]="" (click)="deleteDevice(i)"><i class="fas fa-times"></i></a>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Users Targets">
          <ng-template ngbTabContent>
            <h3 class="text-center mt-3" translate>USERS_TARGETS</h3>
            <div class="row">
              <label class="col-sm-2 control-label" translate>AVAILABLE_USERS</label>
              <div class="col-sm-10">
                <app-user-picker (onChangeUsers)="onAddUser($event)" [group]="ruleNewForm"></app-user-picker>
              </div>
              <table class="table mt-3 table-hover target-table">
                <thead>
                  <tr>
                    <th translate>USERNAME</th>
                    <th translate>FULLNAME</th>
                    <th translate>EMAIL</th>
                    <th translate>ROLE</th>
                    <th translate class="text-center">ENABLED</th>
                    <th translate class="text-center">REMOVE</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="users.length === 0">
                    <tr>
                      <td colspan="6" class="text-center">There are no elements to display.</td>
                    </tr>
                  </ng-container>
                  <ng-container *ngFor="let user of users; let i = index">
                    <tr>
                      <td>{{ user.userName }}</td>
                      <td>{{ user.fullName }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.role }}</td>
                      <td class="text-center">
                        <i class="fas fa-check" *ngIf="user.active"></i>
                        <i class="fas fa-times" *ngIf="!user.active"></i>
                      </td>
                      <td class="text-center">
                        <a [routerLink]="" (click)="deleteUser(i)"><i class="fas fa-times"></i></a>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Groups Targets">
          <ng-template ngbTabContent>
            <h3 class="text-center mt-3" translate>GROUPS_TARGETS</h3>
            <div class="row">
              <label class="col-sm-2 control-label" translate>AVAILABLE_GROUPS</label>
              <div class="col-sm-10">
                <app-group-picker (onChangeGroups)="onAddGroup($event)" [group]="ruleNewForm"></app-group-picker>
              </div>
              <table class="table table-hover target-table">
                <thead>
                  <tr>
                    <th translate>GROUPS</th>
                    <th translate>GROUP_TYPE</th>
                    <th translate class="text-center">REMOVE</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="groups.length === 0">
                    <tr>
                      <td colspan="3" class="text-center">There are no elements to display.</td>
                    </tr>
                  </ng-container>
                  <ng-container *ngFor="let group of groups; let i = index">
                    <tr>
                      <td>{{ group.name }}</td>
                      <td>{{ group.type }}</td>
                      <td class="text-center">
                        <a [routerLink]="" (click)="deleteGroup(i)"><i class="fas fa-times"></i></a>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
      <div class="form-group row">
        <div class="offset-md-2 col-sm-10">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="ruleNewForm.invalid"
            translate
            (click)="onRuleCreate()"
          >
            {{ 'SAVE' | translate }}
          </button>
          <button class="btn btn-success" (click)="onCancel()" [disabled]="showCancelConfirmation">
            {{ 'CANCEL' | translate }}
          </button>
        </div>
      </div>
      <div class="form-group row" [hidden]="!showCancelConfirmation">
        <label class="col-sm-6 col-form-label" translate>CANCEL_SURE</label>
        <div class="col-sm-6">
          <button (click)="confirm(); shellService.changeState(true)" class="btn btn-success" translate>YES</button>
          <button
            (click)="showCancelConfirmation = false; shellService.changeState(true)"
            class="btn btn-default"
            translate
          >
            NO
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
