<div class="row-details">
  <h2 translate>EDIT</h2>
  <form [formGroup]="userEditForm">
    <div class="form-group row align-items-center mr-0 ml-0">
      <label class="font-weight-bold offset-1 col-1 mb-0 text-right" translate>FULLNAME</label>
      <input
        type="text"
        class="form-control col-10"
        id="fullname"
        name="fullname"
        placeholder="{{ 'FULLNAME' | translate }}"
        formControlName="fullname"
        [(ngModel)]="userDetails.fullName"
      />
    </div>
    <div class="form-group row align-items-center mr-0 ml-0">
      <label class="font-weight-bold offset-1 col-1 mb-0 text-right" translate>EMAIL</label>
      <input
        type="email"
        class="form-control col-10"
        id="email"
        name="email"
        placeholder="{{ 'EMAIL' | translate }}"
        formControlName="email"
        [(ngModel)]="userDetails.email"
      />
    </div>
    <div class="form-group row align-items-center mr-0 ml-0">
      <label class="font-weight-bold col-2 mb-0 text-right" translate>Active Directory User?</label>
      <input type="checkbox" id="active" name="active" (change)="onActiveCheckbox()" formControlName="active" />
    </div>
    <div class="form-group row align-items-center mr-0 ml-0">
      <label class="font-weight-bold col-2 mb-0 text-right" translate>USERNAME</label>
      <input
        type="text"
        class="form-control col-10"
        id="username"
        name="username"
        placeholder="{{ 'USERNAME' | translate }}"
        formControlName="username"
        [(ngModel)]="userDetails.userName"
      />
    </div>
    <div class="form-group row align-items-center mr-0 ml-0">
      <label class="font-weight-bold col-2 mb-0 text-right" translate>PASSWORD</label>
      <input
        type="password"
        class="form-control col-10"
        id="password"
        name="password"
        placeholder="{{ 'PASSWORD' | translate }}"
        formControlName="password"
      />
    </div>
    <div class="form-group row align-items-center mr-0 ml-0">
      <label class="font-weight-bold col-2 mb-0 text-right" translate>CONFIRMATION</label>
      <input
        type="password"
        class="form-control col-10"
        id="confirmation"
        name="confirmation"
        placeholder="{{ 'Password confirmation' | translate }}"
        formControlName="confirmation"
      />
    </div>
    <div class="form-group row align-items-center mr-0 ml-0">
      <label class="font-weight-bold col-2 mb-0 text-right pl-0" translate>Change password at next login</label>
      <input type="checkbox" id="changePass" name="changePass" formControlName="changePass" />
    </div>
    <div class="form-group row">
      <div class="offset-md-2 col-sm-10">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="userEditForm.invalid || showCancelConfirmation || formValid"
          translate
          (click)="onUserUpdate()"
        >
          {{ 'SAVE' | translate }}
        </button>
        <button class="btn btn-success" (click)="onCancel()" [disabled]="showCancelConfirmation">
          {{ 'CANCEL' | translate }}
        </button>
      </div>
    </div>
    <div class="form-group row" [hidden]="!showCancelConfirmation">
      <label class="col-sm-6 col-form-label" translate>CANCEL_SURE</label>
      <div class="col-sm-6">
        <button (click)="back()" class="btn btn-success" translate>YES</button>
        <button (click)="showCancelConfirmation = false" class="btn btn-default" translate>NO</button>
      </div>
    </div>
  </form>
</div>
