.pagination {
  .text {
    font-size: 11px;
    color: #333333;
  }

  .no-element {
    text-align: right;
    width: 100%;
  }

  .pagination-info {
    p {
      display: inline-block;
      margin-bottom: 0px 0px 0px 0px;
    }
  }
}
