<div class="row-details">
  <h2 translate>RENAME</h2>
  <form [formGroup]="renameGroupForm">
    <div class="form-group row align-items-center mr-0 ml-0">
      <label class="font-weight-bold col-2 mb-0 text-right" translate>Group Name</label>
      <input
        type="text"
        class="form-control col-10"
        id="name"
        name="name"
        placeholder="{{ 'Group Name' | translate }}"
        formControlName="groupName"
        [(ngModel)]="groupName"
      />
    </div>
    <div class="form-group row">
      <div class="offset-md-2 col-sm-10">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="renameGroupForm.invalid || showCancelConfirmation || formValid"
          translate
          (click)="onGroupUpdate()"
        >
          {{ 'SAVE' | translate }}
        </button>
        <button class="btn btn-success" (click)="onCancel()" [disabled]="showCancelConfirmation">
          {{ 'CANCEL' | translate }}
        </button>
      </div>
    </div>
    <div class="form-group row" [hidden]="!showCancelConfirmation">
      <label class="col-sm-6 col-form-label" translate>CANCEL_SURE</label>
      <div class="col-sm-6">
        <button (click)="back()" class="btn btn-success" translate>YES</button>
        <button (click)="showCancelConfirmation = false" class="btn btn-default" translate>NO</button>
      </div>
    </div>
  </form>
</div>
